@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Unbounded", sans-serif;
    background-color: #fafafa;
}

body.active {
    overflow: hidden;
}

input, button {
    font-family: "Unbounded", sans-serif;
}

input::placeholder {
    font-family: "Unbounded", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border-bottom: 1px solid #333; */
    z-index: 101;

    width: 100%;

    padding: 24px 0 64px 0;

    height: 50px;
    transition: all 0.5s ease-in-out;

    /* background-color: #828282; */
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.header-nav__a:hover {
    color: #a7c882;
}

.header-burger {
    display: none;
}

.header-modal {
    display: none;
}

.header-modal.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    /* display: none; */

    /* animation: fadeIn 0.5s ease-in-out; */

    opacity: 0;
    transition: all 0.5s ease-in-out, visibility 0.5s ease-in-out;
    visibility: hidden;
}

/* @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

.overlay.active {
    /* display: block; */

    opacity: 1;
    visibility: visible;
}

.header-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;

    /* display: none; */

    /* animation: fadeIn 0.5s ease-in-out; */

    opacity: 0;
    transition: all 0.5s ease-in-out, visibility 0.5s ease-in-out;
    visibility: hidden;
}

.header-modal.active {
    /* display: block; */

    opacity: 1;
    visibility: visible;
}

.header-modal__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-top: 96px;
}

.header-modal__icons.open{
    display: block;
}

.header-modal__icons.open.active {
    display: none;
}

.header-modal__icons.close{
    display: none;
}

.header-modal__icons.close.active {
    display: block;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.banner-wrapper {
    margin-top: 128px;
    height: 120vh;
}

.swiper-slide {
    background: #828282;
    border-radius: 16px;
}

.title {
    margin-top: 128px;
    margin-bottom: 64px;
}

.new-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;

    overflow: hidden;
    overflow-x: scroll;
}

.new-wrapper::-webkit-scrollbar {
    display: none;
}

.new-card {
    max-width: 900px;
    min-width: 300px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.new-img {
    max-width: 900px;
    width: 100%;
    height: 400px;
    background-color: #828282;
    border-radius: 8px;

    margin-bottom: 16px;
    transition: all 0.3s ease-in-out;
}

.new-card:hover .new-img {
    transform: scale(1.1);
}

.new-title {
    margin: 8px 0;
}

.articles-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.articles-card {
    max-width: 400px;
    width: 100%;
}

.articles-row {
    max-width: 400px;
    width: 100%;
}

.articles-row img {
    max-width: 400px;
    width: 100%;
}

.articles-card .articles-row:first-child {
    position: relative;
}

.articles-shadows {
    position: absolute;
    bottom: 4px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    /* border-radius: 0 0 16px 16px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    padding: 16px;
}

.articles-shadows .articles-shadow:last-child {
    cursor: pointer;
}

.articles-shadow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.articles-shadow span {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.articles-card .articles-row:last-child {
    background-color: #828282;
    margin-top: -4px;

    padding: 16px;
    border-radius: 0 0 8px 8px;
}

.articles-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    cursor: pointer;
}

.articles-title:hover {
    text-decoration: underline;
}

.articles-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}

.articles-bcc__header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-weight: 300;
}

.articles-bcc__header span:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.articles-bcc__header span:last-child::before {
    content: '©';
    margin-right: 4px;
}

footer {
    background-color: #141414;

    margin-top: 96px;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    padding: 64px 0;
}

.footer-site__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    color: #fff;

    margin-bottom: 24px;
}

.footer-site__subname {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: #fff;

    margin-bottom: 24px;
}

.footer-col__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    color: #fff;
}

@media (max-width: 1440px) {
    .container {
        padding: 0 24px;
    }
}

@media (max-width: 1300px) {
    .articles-wrapper {
        justify-content: flex-start;
        gap: 24px;
    }
}

@media (max-width: 1024px) {
    .footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-col {
        text-align: center;
        padding: 24px 0;
    }
}

@media (max-width:768px) {
    .header-nav, .header-icons {
        display: none;
    }

    .header-burger {
        display: block;
        cursor: pointer;
    }

}